@model IEnumerable<MvcTest.Models.Employee.EmployeeViewModel>
@{
    ViewData["Title"] = "Employee List";
}
<div id="message" style="display:none;" class="alert alert-danger" role="alert">
    <span></span>
    <button type="button" class="btn-close" aria-label="Close"></button>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">        
        <div style="display: inline">
            <h1>Employees List</h1>
            <button type="submit" id="btnSearch" class="btn btn-primary" style="float: right;">
                Search
            </button>
            <input type="text" id="txtSearch" class="form-control" style="float: right;width: 200px;margin-right: 5px;" />
        </div>

        <table id="tableData" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Anual Salary</th>
                    <th>Age</th>
                    <th>Profile Image</th>
                </tr>
            </thead>
            <tbody>                
                
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Anual Salary</th>
                    <th>Age</th>
                    <th>Profile Image</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script src="~/js/site.js"></script>
</div>
